:root {
  --warning-bg: #ffb;
  --warning-border: #bb0;
}

@media (prefers-color-scheme: dark) {
  :root {
    --warning-bg: #442;
    --warning-border: #ff0;
  }
}

.warning {
  border: 1px solid;
  border-radius: var(--border-radius);
  padding: 0.75rem;
  background-color: var(--warning-bg);
  border-color: var(--warning-border);
}

.warning p:first-child {
  margin-top: 0;
}

.warning p:last-child {
  margin-bottom: 0;
}

.fave {
  padding: 0;
}

.fave button, button.fave {
  padding: 0 1rem;
  background: none;
  color: inherit;
  border: 0;
  margin: 0;
  font-size: 1.375rem;
}

button.fave {
  padding: 0 0.5rem 0 0;
}

button.faved {
  color: #d06f00;
}

.label-mobile, .cell-mobile {
  display: none;
}

.label-desktop {
  display: initial;
}

@media(max-width: 52.5rem) {
  .label-mobile {
    display: initial;
  }

  .cell-mobile {
    display: table-cell;
  }

  .label-desktop {
    display: none;
  }
}

header {
  padding: 0rem 1rem;
  text-align: left;
}

nav {
  margin-bottom: 0;
}

nav ul :first-child {
  margin-left: 0;
}

main {
  padding-top: 0;
}

summary:has(h2) {
  display: block;
}

summary h2 {
  display: list-item;
}

#favourites {
  display: contents;
}

#favourites:not(:has(td)) {
  display: none;
}

.top-cut {
  display: grid;
  justify-content: space-around;
  gap: 1rem;
  grid-template-columns: [all-start] repeat(4, auto) [all-end];
}

.top-cut h3 {
  grid-column: all;
}

.top-cut > div {
  grid-column: all;
  display: flex;
  justify-content: space-around;
  gap: 1rem;
}

.top-cut > .top-cut-grid {
  display: grid;
  grid-column: all;
  grid-template-columns: subgrid;
}

.match {
  display: flex;
  align-items: center;
  flex-direction: column;
  text-align: center;
}

.loser a {
  text-decoration: line-through underline;
}

.container {
  display: flex;
  flex-direction: column;
  align-items: center;
}

.container h1 {
  width: 100%;
}

.container table {
  width: fit-content;
  font-size: inherit;
}

th p {
  margin: 0.5rem 0;
}

th p:first-child {
  margin-top: 0rem;
}

th p:last-child {
  margin-bottom: 0rem;
}

th .team {
  margin: 0;
}

tbody .name-cell, .name a {
  max-width: 12em;
  white-space: normal;
}

.round, .record {
  margin: 0;
}

.name {
  margin-bottom: 0.5rem;
  overflow-wrap: anywhere;
}

.cell-mobile .name {
  margin-bottom: 0rem;
}

.name, .result {
  display: none;
}

.oppopp {
  font-size: 0.85em;
}

.resistance {
  display: none;
}

.dq .name a, .dq .name-cell a {
  text-decoration: line-through underline;
}

.dq .record, .dq .resistance-cell {
  text-decoration: line-through;
}

.team a {
  display: grid;
  grid-template-columns: repeat(6, min-content);
  justify-content: center;
}

.pokemon-icon {
  display: inline-block;
  width: 40px;
  height: 30px;
  image-rendering: pixelated;
  background: transparent url('/sprites/pokemonicons-sheet.png') no-repeat scroll;
}

@media (max-width: 52.5rem) {
  .top-cut {
    grid-template-columns: [all-start] repeat(2, auto) [all-end];
  }

  .name, .result {
    display: block;
  }

  .name-cell, .result-cell {
    display: none;
  }

  .name-team {
    display: table-cell;
  }

  .round {
    margin: 0.75rem 0rem;
  }

  th p.round {
    margin-bottom: 0.5rem;
  }

  .team a {
    grid-template-columns: repeat(3, min-content);
  }

}

@media (max-width: 35rem) {
  .top-cut {
    grid-template-columns: [all-start] auto [all-end];
  }

  .resistance {
    display: block;
  }

  .record {
    margin: 0.75rem 0rem;
  }

  th p.record {
    margin-bottom: 0.5rem;
  }

  .resistance-cell {
    display: none;
  }
}

