<header>
  <nav>
    <p>
      Index
    </p>
  </nav>
</header>
<main>
  <h1>Pokémon VGC Standings</h1>

  <h2>VGC 2024 Standings</h2>

  {% for tournament in 2024.tournaments reversed %}
    <article>
      {{ tournament.name }}
      <ul>
        <li>
          <a href="/2024/{{ tournament.id }}/juniors">
            Juniors
          </a>
        </li>
        <li>
          <a href="/2024/{{ tournament.id }}/seniors">
            Seniors
          </a>
        </li>
        <li>
          <a href="/2024/{{ tournament.id }}/masters">
            Masters
          </a>
        </li>
    </article>
  {% endfor %}
</main>
