<header>
  <nav>
    <p>
      Index
    </p>
  </nav>
</header>
<main>
  <h1>Pokémon VGC Standings</h1>

  <h2>VGC 2025 Standings</h2>

  {% for tournament in 2025.tournaments reversed %}
    <article>
      {{ tournament.name }}
      <ul>
        <li>
          <a href="/2025/{{ tournament.id }}/juniors">
            Juniors
          </a>
        </li>
        <li>
          <a href="/2025/{{ tournament.id }}/seniors">
            Seniors
          </a>
        </li>
        <li>
          <a href="/2025/{{ tournament.id }}/masters">
            Masters
          </a>
        </li>
    </article>
  {% endfor %}

  <p>
    <a href="/2024/">VGC 2024 Standings</a>
  </p>
</main>
