{% extends 'base.html' %}
{% block content %}
<header>
  <nav>
    <p>
      Index
    </p>
  </nav>
</header>
<main>
  <h1>Pokémon VGC Standings</h1>

  <h2>VGC {{ years[-1] }} Standings</h2>

  {% for tournament in tournaments | reverse %}
    <article>
      {{ tournament.name }}
      <ul>
        <li>
          <a href="/{{ years[-1] }}/{{ tournament.id }}/juniors/">
            Juniors
          </a>
        </li>
        <li>
          <a href="/{{ years[-1] }}/{{ tournament.id }}/seniors/">
            Seniors
          </a>
        </li>
        <li>
          <a href="/{{ years[-1] }}/{{ tournament.id }}/masters/">
            Masters
          </a>
        </li>
    </article>
  {% endfor %}

  {% for year in years | reverse %}
    {% if year != years[-1] %}
      <p>
        <a href="/{{ year }}/">VGC {{ year }} Standings</a>
      </p>
    {% endif %}
  {% endfor %}
</main>
{% endblock content %}

